{% if messages %}
<div class="container">
    {% for message in messages %}
        <div id="message" class="alert alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>  
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <strong>ERROR:</strong>
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
